.header {
  height: 80px;
  align-items: center;
  transition: all 0.3s ease-in-out !important;
}

.header__inner {
  justify-content: space-between;
}

.header__navbar__collapse {
  justify-content: flex-end;
}

.header__navbar__item {
  margin: 0 30px 0 0 !important;
}

.header__navbar__item:last-child {
  margin: 0 80px 0 0 !important;
}

.header__navbar__item > a {
  color: #fff;
  font-size: 16px !important;
  font-weight: 700 !important;
}

.header__navbar__item > a.active {
  color: #ef4343 !important;
}

.header__navbar__search {
  display: flex;
  align-items: center;
}

.header__navbar__search__input {
  width: 300px;
  display: none;
  margin: 0 30px 0 0;
  background: none;
  border: none;
  border-bottom: 1px solid #4369ef;
  color: #fff;
  padding: 5px 10px;
}

.header__navbar__search__btn {
  border-radius: 10px;
  padding: 8px;
}

.navbar-toggler {
  color: #fff !important;
  border: none;
  background-color: #4369ef !important;
}

@media only screen and (max-width: 992px) {
  .header__navbar__collapse {
    background: #fff;
    width: 100%;
  }
  .header__navbar__item > a {
    color: #000 !important;
  }
}

.hero {
  width: 100%;
  height: 82vh;
  background: linear-gradient(0deg, rgba(16, 19, 74, 0.25), rgba(16, 19, 74, 0.25)), url("./../img/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 1px solid #ef4343;
}

.hero__inner {
  height: 100%;
}

.hero__content {
  color: #fff;
}

.hero__content__h2 {
  font-size: 24px;
  font-weight: 400;
}

.hero__content__h1 {
  font-size: 36px;
  line-height: 52px;
}

.hero__content__btn {
  margin: 60px 0 0 0;
}

.hero__latestArticle {
  display: flex;
  flex-direction: column;
}

.hero__latestArticle__item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 30px 0;
}

.hero__latestArticle__item:first-child, .hero__latestArticle__item:last-child {
  opacity: 0.5;
}

.hero__latestArticle__item__date {
  font-size: 12px;
  color: #f2f2f2;
  margin: 0 0 5px 0;
}

.hero__latestArticle__item__heading {
  font-size: 14px;
  font-weight: 700;
  text-align: right;
  color: #fff;
  margin: 0 0 15px 0;
}

.hero__latestArticle__item__btn {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #f2f2f2;
  max-width: 122px;
  width: 100%;
  justify-content: space-between;
}

.hero__latestArticle__item__btn:hover {
  color: #f2f2f2;
  opacity: 0.8;
  transition: opacity 0.3s linear;
}

@media only screen and (max-width: 992px) {
  .hero__content__h1 {
    font-size: 28px;
    max-width: 520px;
  }
  .hero__content__h2 {
    font-size: 18px;
  }
}

.article {
  margin: 30px 0 0 0 !important;
  transition: all 0.3s ease-in-out;
}

.article__container {
  padding: 60px 0;
  border-bottom: 1px solid #f2f2f2;
}

.article:hover {
  cursor: pointer;
}

.article:hover .article__btn {
  margin: 0 0 0 10px;
}

.article:hover .article__image > img {
  transform: scale(1.2);
}

.article__image {
  position: relative;
  width: 100%;
  max-height: 190px;
  overflow: hidden;
}

.article__image__primary {
  border-radius: 20px !important;
}

.article__image__primary__main {
  max-height: 290px;
  border-radius: 20px !important;
}

.article__image__primary__secondary {
  max-height: 260px;
  border-radius: 20px !important;
}

.article__image__secondary__main {
  max-height: 330px;
}

.article__image__category {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 4px 15px;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  border-radius: 20px;
  background: #4369ef;
  z-index: 2;
}

.article__image__blog {
  max-height: 520px;
  border-radius: 20px;
}

.article__image > img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

.article__image__featured {
  position: absolute;
  bottom: 20px;
  right: 0;
  padding: 4px 15px;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  border-radius: 20px 0 0 20px;
  background: #ef4343;
  z-index: 2;
}

.article__image__featured__blog {
  bottom: 40px;
}

.article__info {
  margin: 15px 0 0 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article__info__date {
  font-size: 18px;
  font-weight: 500;
  color: #484848;
  flex: 1;
}

.article__info__comments {
  font-size: 12px;
  color: #484848;
  margin: 0 30px 0 0;
  display: flex;
  align-items: center;
}

.article__info__comments > span {
  margin: 0 0 0 5px;
}

.article__info__author {
  font-size: 12px;
  color: #484848;
  margin: 0 10px 0 0;
}

.article__title {
  font-size: 18px;
  color: #000;
  font-weight: 700;
  margin: 10px 0 20px 0;
}

.article__title__subtitle {
  color: #484848;
}

.article__para {
  font-size: 14px;
  font-weight: 300;
  color: #484848;
  line-height: 1.8;
  margin: 0 0 20px 0;
}

.article__list {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 0;
}

.article__list__item {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 10px 0 0 10px;
  color: #484848;
}

.article__list__item::before {
  content: "";
  background: #4369ef;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 0 10px 0 0;
}

.article__btn {
  color: #4369ef;
  transition: margin 0.3s ease-in-out;
  font-size: 14px;
}

.article__primary__container {
  padding: 140px 0 0 0;
}

.article__primary__title {
  font-size: 32px;
  font-weight: 700;
  color: #000;
  margin: 0 !important;
}

.article__primary__nav {
  justify-content: space-around;
  align-items: center;
  margin: 0 !important;
}

.article__primary__nav__item > a {
  color: #515151;
  background: #f2f2f2;
}

.article__primary__nav__item > a.active {
  background: #4369ef !important;
  color: #fff !important;
}

.article__primary__nav__item > a:first-child {
  padding: 15px 20px;
}

.article__blog {
  margin: 0 0 0 15px;
}

.article__blog__image {
  max-width: 210px;
}

.article__blog__title {
  font-size: 16px;
}

.article__featured {
  height: 100%;
  background: #f2f2f2;
  padding: 20px !important;
  border-radius: 20px;
}

.article__featured__container {
  margin: 0 !important;
}

.article__featured__name {
  font-size: 18px;
  color: #000;
}

.article__featured__title {
  font-size: 14px;
}

.article__featured__data {
  font-size: 12px;
  font-weight: 400;
  margin: 0 20px 0 0;
}

.article__featured__btn {
  font-size: 12px;
}

.article__poll {
  display: flex;
  flex-direction: column;
}

.article__poll__choice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px 0 0;
  max-width: 640px;
  width: 100%;
  border-radius: 20px;
  background: #f2f2f2;
  margin: 0 0 20px 0;
}

.article__poll__choice__btn {
  padding: 15px 25px;
  background: none;
  width: 100%;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  position: relative;
}

.article__poll__choice__btn::before {
  content: "";
  border: 1px solid #4369ef;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.article__poll__choice__btn[data-choice="1"]:before {
  width: 80%;
}

.article__poll__choice__btn[data-choice="2"]:before {
  width: 20%;
}

.article__poll__perc {
  font-size: 14px;
  font-weight: 700;
}

.article__vote {
  margin: 30px 0 0 0;
}

.article__vote__title {
  font-size: 24px;
  font-weight: 700;
  color: #000;
}

.article__vote__content__item {
  margin: 30px 15px 0 30px;
  background: none;
  color: #000;
}

@media only screen and (max-width: 767px) {
  .article__primary__title {
    text-align: center;
  }
  .article__primary__nav {
    margin: 30px 0 0 0 !important;
    align-items: center;
  }
  .article__primary__nav__item:nth-last-child(1) {
    display: none;
  }
  .article__primary__nav__item:nth-last-child(2) {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  .article__primary__nav {
    flex-wrap: wrap;
    margin: 0 !important;
  }
  .article__primary__nav__item {
    margin: 40px 0 0 0 !important;
  }
  .article__primary__nav__item:nth-last-child(1) {
    display: block;
  }
  .article__primary__nav__item:nth-last-child(2) {
    display: block;
  }
}

.subscribe {
  border-bottom: 1px solid #f2f2f2;
  padding: 60px 0;
}

.subscribe__title {
  font-size: 36px;
  color: #000;
}

.subscribe__para {
  font-size: 14px;
  color: #515151;
  max-width: 540px;
  text-align: center;
  margin: 5px 0 0 0;
}

.subscribe__form {
  margin: 30px 0 0 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe__form__input {
  max-width: 520px;
  width: 100%;
  padding: 15px 25px;
  border-radius: 20px;
  border: 1px solid #f2f2f2;
  margin: 0 30px 0 0;
  font-size: 16px;
}

.gallery {
  margin: 30px 0 0 0 !important;
}

.gallery:hover {
  cursor: pointer;
}

.gallery:hover .gallery__photo > img {
  transform: scale(1.2);
}

.gallery__container {
  padding: 60px 0;
}

.gallery__photo {
  position: relative;
  width: 100%;
  max-height: 190px;
  overflow: hidden;
}

.gallery__photo > img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

.gallery__btn {
  margin: 60px auto 0 auto;
  justify-self: center;
}

@media only screen and (max-width: 575px) {
  .gallery:nth-child(n + 4) {
    display: none !important;
  }
}

.footer {
  margin: 180px 0 0 0;
}

.footer__row {
  border-bottom: 1px solid #f2f2f2 !important;
  padding-bottom: 30px;
}

.footer__brand {
  display: flex;
  flex-direction: column;
}

.footer__brand__para {
  margin: 10px 0 0 0;
  max-width: 235px;
  font-size: 14px;
  color: #484848;
}

.footer__menu {
  justify-content: flex-end;
}

.footer__menu__item {
  margin: 0 0 0 30px;
}

.footer__menu__item:first-child {
  margin: 0;
}

.footer__menu__item > a {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}

.footer__menu__item-focus {
  margin: 0 0 0 80px;
}

.footer__menu__item-focus > a {
  color: #fff !important;
  background: #4369ef;
}

.footer__bottom {
  padding: 30px 0;
}

.footer__bottom__link {
  font-size: 12px;
  font-weight: 400;
  color: #484848;
}

.footer__bottom__link:first-child {
  flex: 1;
}

.footer__bottom__link:last-child {
  margin: 0 0 0 30px;
}

@media only screen and (max-width: 992px) {
  .footer__brand {
    align-items: center;
  }
  .footer__brand__para {
    max-width: 800px;
    text-align: center;
  }
  .footer__menu {
    justify-content: center;
    margin: 60px 0 0 0 !important;
  }
}

@media only screen and (max-width: 500px) {
  .footer__menu {
    margin: 30px 0 0 0 !important;
    flex-direction: column;
    align-items: center;
  }
  .footer__menu__item {
    margin: 20px 0 0 0;
  }
  .footer__menu__item:last-child {
    margin: 40px 0 0 0;
  }
}

.faqs {
  width: 100%;
  height: 520px;
  overflow: hidden;
  position: relative;
}

.faqs::after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(16, 19, 74, 0.25);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.faqs__bg {
  width: 100%;
  height: 100%;
}

.faqs__cover {
  background: url("./../img/bg.png");
  background-repeat: repeat;
  height: 100%;
}

.faqs__questions__title {
  font-size: 32px;
  margin: 60px 0 0 0;
  color: #000;
  font-weight: 700;
}

.faqs__questions__q {
  display: flex;
  flex-direction: column;
  margin: 20px 0 0 0 !important;
}

.faqs__questions__q__title {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 700;
  color: #000;
  padding: 15px 25px;
  background: #f2f2f2;
  border-radius: 20px;
}

*,
*::before,
*::after {
  box-sizing: border-box !important;
  padding: 0;
  margin: 0;
  letter-spacing: 0.02em !important;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif !important;
  height: 200vh;
  max-height: 100%;
}

button {
  display: flex;
  border: none;
  color: #fff;
  background: #4369ef;
}

button,
input {
  outline: none !important;
}

ul,
li,
a {
  list-style: none !important;
  text-decoration: none !important;
  color: #4369ef;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.4 !important;
}

.container__title {
  font-size: 24px;
  font-weight: 700;
  color: #000;
  margin: 0;
}

.container__title-m60 {
  margin: 60px 0 0 0;
}

.container__btn {
  padding: 15px 25px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  border-radius: 20px;
}
/*# sourceMappingURL=main.css.map */