.header {
  height: 80px;
  align-items: center;
  transition: all 0.3s ease-in-out !important;
}

.header__inner {
  justify-content: space-between;
}

.header__navbar__collapse {
  justify-content: flex-end;
}

.header__navbar__item {
  margin: 0 30px 0 0 !important;
}

.header__navbar__item:last-child {
  margin: 0 80px 0 0 !important;
}

.header__navbar__item > a {
  color: #fff;
  font-size: 16px !important;
  font-weight: 700 !important;
}

.header__navbar__item > a.active {
  color: #ef4343 !important;
}

.header__navbar__search {
  display: flex;
  align-items: center;
}

.header__navbar__search__input {
  width: 300px;
  display: none;
  margin: 0 30px 0 0;
  background: none;
  border: none;
  border-bottom: 1px solid #4369ef;
  color: #fff;
  padding: 5px 10px;
}

.header__navbar__search__btn {
  border-radius: 10px;
  padding: 8px;
}

.navbar-toggler {
  color: #fff !important;
  border: none;
  background-color: #4369ef !important;
}

@media only screen and (max-width: 992px) {
  .header__navbar__collapse {
    background: #fff;
    width: 100%;
  }
  .header__navbar__item > a {
    color: #000 !important;
  }
}

.hero {
  width: 100%;
  height: 82vh;
  background: linear-gradient(0deg, rgba(16, 19, 74, 0.25), rgba(16, 19, 74, 0.25)), url("./../img/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 1px solid #ef4343;
}

.hero__inner {
  height: 100%;
}

.hero__content {
  color: #fff;
}

.hero__content__h2 {
  font-size: 24px;
  font-weight: 400;
}

.hero__content__h1 {
  font-size: 36px;
  line-height: 52px;
}

.hero__content__btn {
  padding: 15px 25px;
  border-radius: 20px;
  margin: 60px 0 0 0;
}

.hero__latestArticle {
  display: flex;
  flex-direction: column;
}

.hero__latestArticle__item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 30px 0;
}

.hero__latestArticle__item:first-child, .hero__latestArticle__item:last-child {
  opacity: 0.5;
}

.hero__latestArticle__item__date {
  font-size: 12px;
  color: #f2f2f2;
  margin: 0 0 5px 0;
}

.hero__latestArticle__item__heading {
  font-size: 14px;
  font-weight: 700;
  text-align: right;
  color: #fff;
  margin: 0 0 15px 0;
}

.hero__latestArticle__item__btn {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #f2f2f2;
  max-width: 122px;
  width: 100%;
  justify-content: space-between;
}

.hero__latestArticle__item__btn:hover {
  color: #f2f2f2;
  opacity: 0.8;
  transition: opacity 0.3s linear;
}

.article {
  margin: 30px 0 0 0 !important;
  transition: all 0.3s ease-in-out;
}

.article__container {
  padding: 60px 0;
  border-bottom: 1px solid #f2f2f2;
}

.article__container__title {
  font-size: 24px;
  color: #000;
}

.article:hover {
  cursor: pointer;
}

.article:hover .article__btn {
  margin: 0 0 0 10px;
}

.article:hover .article__image > img {
  transform: scale(1.2);
}

.article__image {
  position: relative;
  width: 100%;
  max-height: 190px;
  overflow: hidden;
}

.article__image__round {
  border-radius: 20px;
}

.article__image__category {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 4px 15px;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  border-radius: 20px;
  background: #4369ef;
  z-index: 2;
}

.article__image > img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

.article__image__featured {
  position: absolute;
  bottom: 20px;
  right: 0;
  padding: 4px 15px;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  border-radius: 20px 0 0 20px;
  background: #ef4343;
  z-index: 2;
}

.article__info {
  margin: 15px 0 0 0;
}

.article__info__date {
  font-size: 18px;
  font-weight: 500;
  color: #484848;
}

.article__title {
  font-size: 18px;
  color: #000;
  font-weight: 700;
  margin: 10px 0 20px 0;
}

.article__btn {
  color: #4369ef;
  transition: margin 0.3s ease-in-out;
}

*,
*::before,
*::after {
  box-sizing: border-box !important;
  padding: 0;
  margin: 0;
  letter-spacing: 0.02em !important;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif !important;
  height: 200vh;
}

button {
  display: flex;
  border: none;
  color: #fff;
  background: #4369ef;
}

button,
input {
  outline: none !important;
}

a {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.4 !important;
}
/*# sourceMappingURL=main.css.map */