@import "./colors";
@import "./blocks/header";
@import "./blocks/hero";
@import "./blocks/article";
*,
*::before,
*::after {
  box-sizing: border-box !important;
  padding: 0;
  margin: 0;
  letter-spacing: 0.02em !important;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif !important;
  height: 200vh;
}
button {
  display: flex;
  border: none;
  color: $white;
  background: $blue;
}
button,
input {
  outline: none !important;
}
a {
  text-decoration: none !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.4 !important;
}
