// article
.article {
  margin: 30px 0 0 0 !important;
  transition: all 0.3s ease-in-out;
  &__container {
    padding: 60px 0;
    border-bottom: 1px solid $white-s;

    &__title {
      font-size: 24px;
      color: $black;
    }
  }

  &:hover {
    cursor: pointer;
    .article__btn {
      margin: 0 0 0 10px;
    }
    .article__image > img {
      transform: scale(1.2);
    }
  }

  &__image {
    position: relative;
    width: 100%;
    max-height: 190px;
    overflow: hidden;
    &__round {
      border-radius: 20px;
    }
    &__category {
      position: absolute;
      top: 10px;
      left: 10px;
      padding: 4px 15px;
      font-size: 13px;
      font-weight: 700;
      color: $white;
      border-radius: 20px;
      background: $blue;
      z-index: 2;
    }
    & > img {
      width: 100%;
      height: 100%;
      transition: transform 0.3s ease-in-out;
    }
    &__featured {
      position: absolute;
      bottom: 20px;
      right: 0;
      padding: 4px 15px;
      font-size: 13px;
      font-weight: 700;
      color: $white;
      border-radius: 20px 0 0 20px;
      background: $red;
      z-index: 2;
    }
  }
  &__info {
    margin: 15px 0 0 0;
    &__date {
      font-size: 18px;
      font-weight: 500;
      color: $grey;
    }
    &__comments {
    }
    &__author {
    }
  }
  &__title {
    font-size: 18px;
    color: $black;
    font-weight: 700;
    margin: 10px 0 20px 0;
  }
  &__para {
  }
  &__btn {
    color: $blue;
    transition: margin 0.3s ease-in-out;
  }
}
