// gallery
.gallery {
  margin: 30px 0 0 0 !important;
  &:hover {
    cursor: pointer;
    .gallery__photo > img {
      transform: scale(1.2);
    }
  }
  &__container {
    padding: 60px 0;
  }
  &__photo {
    position: relative;
    width: 100%;
    max-height: 190px;
    overflow: hidden;

    & > img {
      width: 100%;
      height: 100%;
      transition: transform 0.3s ease-in-out;
    }
  }
  &__btn {
    margin: 60px auto 0 auto;
    justify-self: center;
  }
}
@media only screen and (max-width: 575px) {
  .gallery {
    &:nth-child(n + 4) {
      display: none !important;
    }
  }
}
